@model IList<SurveyResults>
@{
    ViewData["Title"] = "Favorites";
}

<h2>Favorites</h2>

<p class="faveMessage">Thank you for voting! We have ranked all of our visitors favorite parks. See where your favorite lands below: </p>

<div class="favorites">
@foreach (var sr in Model)
{
    <div class="parkFave">
        <img src="~/images/parks/@(sr.ParkCode).jpg" alt="Scenic View of @sr.ParkName" />
        <h3>@sr.ParkName</h3>
        <h3>Votes: @sr.Count</h3>
    </div>
}
</div>
