@model Survey

@{
    ViewData["Title"] = "Index";
}

<h3>Take our Survey!</h3>

<div class="contain">
    <form method="post" asp-controller="survey" asp-action="savesurvey">

        <label asp-for="ParkCode"></label>
        <select asp-for="ParkCode" asp-items="Survey.ParkCodeItems"></select>
        <br />

        <label asp-for="Email"></label>
        <input asp-for="Email" /> <br />
        <span asp-validation-for="Email"></span>

        <label asp-for="State"></label>
        <select asp-for="State" asp-items="Survey.States"></select>
        <br />

        <label asp-for="ActivityLevel"></label>
        <span asp-validation-for="ActivityLevel"></span>
        <label class="activity">
            Inactive
            <input type="radio" name="ActivityLevel" value="Inactive" />
            <span class="check"></span>
        </label>
        <label class="activity">
            Sedentary
            <input type="radio" name="ActivityLevel" value="Sedentary" />
            <span class="check"></span>
        </label>
        <label class="activity">
            Active
            <input type="radio" name="ActivityLevel" value="Active" />
            <span class="check"></span>
        </label>
        <label class="activity">
            Extremely Active
            <input type="radio" name="ActivityLevel" value="Extremely Active" />
            <span class="check"></span>
        </label>

        <br />
        <input type="submit" value="Submit" />

    </form>
</div>